
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>MoeTon（萌豚）隐私策略</h1>
<h2>关于</h2>
<p>MoeTon为ACG图片收集下载工具，目前使用的是yande.re的图源,未来有增加的可能</p>
<h2>版权声明</h2>
<p>MoeTon作为为用户提供更方便的图片浏览与下载工具,图片版权均归图片原作者所有,任何人都不得用以任何形式商业用途.</p>
<p>故此MoeTon承诺永远不会加入"广告","捐赠","付费订阅"等盈利性功能或组件</p>
<h2>存储调用声明</h2>
<p>1.MoeTon会调用您的"图片库","音乐库","视频库"和文件选取器</p>
<p >2.上诉权限调用均用与"画中画"功能和"下载"功能的存储与读取服务</p>
<p>3.MoeTon承诺无任何将您的文件上传至服务器的源代码,"画中画"功能所实现的历史记录将始终保存MoeTon的应用缓存文件夹</p>
<h2>隐私策略的变动</h2>
<p >如果我们需要改变MoeTon的隐私策略, 我们会把相关的改动在此页面发布, 以便您能随时了解我们会收集什么信息。 如果您对此文档存在疑问和意见, 欢迎您联系我们。 </p>
<h2>联系作者</h2>
<p>开发者邮箱:huazhazhenyan@outlook.com </p>
<h4>最后修改时间</h4>
<p>2017年7月18日-15点28分 </p>

<!--使用@{}能够插入c#代码-->
@*@{
    /*注释*/
    var total = 7;
}*@
@*<p>测试：@total</p*@